<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Hallway</title>
	<link href="https://unpkg.com/basscss@8.0.2/css/basscss.min.css" rel="stylesheet">

	{% include _base.html %}
	<link rel="stylesheet" href='{{base}}/assets/css/tingle.min.css'>
	<link rel="stylesheet" href='{{base}}/assets/css/style.css'>
	<link rel="stylesheet" href='{{base}}/assets/css/forms.css'>

	<link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon/favicon-16x16.png">
	<link rel="manifest" href="assets/images/favicon/site.webmanifest">
	<link rel="mask-icon" href="assets/images/favicon/safari-pinned-tab.svg" color="#095fea">
	<meta name="msapplication-TileColor" content="#095fea">
	<meta name="theme-color" content="#ffffff">

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-113298869-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-113298869-1');
	</script>

</head>